@model AppUser

<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-md-7 col-lg-6 col-xl-4">
			<a class="btn btn-lg mb-5 p-0 fw-bold btn-mine-secondary-borderless" asp-controller="Home" asp-action="Index">
				<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
					<path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1" />
				</svg>
			</a>
			<h1 class="display-5 fw-light mt-2">Upravit uživatele</h1>
			<div class="container-mine-transparent-pink">
				<form asp-action="Edit" method="post">
					<div asp-validation-summary="All" class="text-warning"></div>

					<div class="mb-3">
						<label class="mb-2" asp-for="UserName">Uživatelské jméno</label>
						<input asp-for="UserName" class="form-control" disabled />

					</div>
					<div class="mb-3">
						<label class="mb-2" asp-for="Email">E-mail</label>
						<input asp-for="Email" class="form-control" />
						<span class="text-warning" asp-validation-for="Email"></span>

					</div>
					<div class="mb-3">
						<label class="mb-2" for="password">Heslo</label>
						<input type="password" name="password" class="form-control" />
						<span class="text-warning" validation-for="Password"></span>

					</div>
					<button type="submit" @(User.IsInRole("AdminView") ? "disabled" : "")
							class="btn btn-mine-primary mt-4">
						Uložit změny
					</button>
				</form>
			</div>
		</div>
	</div>
</div>
