@model LoginViewModel

@{
	ViewData["Title"] = "Login";
}
<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-11 col-md-7 col-lg-6 col-xl-4">
			<a class="btn btn-lg  mb-5 p-0 fw-bold btn-mine-secondary-borderless" asp-controller="Home" asp-action="Index">
				<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
					<path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1" />
				</svg>
			</a>
			<div class="row">
				<div class="col">
					<h1 class="display-5 fw-light mt-2">Přihlášení</h1>
				</div>
				<div class="col text-end">
					<span tabindex="0" class="d-inline-block"
										  data-bs-toggle="popover"
										  data-bs-trigger="focus"
										  data-bs-placement="top"
										  data-bs-content="user/adminView - Heslo1234">
										<div class="btn btn-mine-transparent">
											<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247m2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
</svg>
										</div>
									</span>
				</div>
			</div>


			<div class="container-mine-transparent-pink">

				<form asp-action="Login" method="post">
					<div class="text-warning" asp-validation-summary="All"></div>

					<input type="hidden" asp-for="ReturnUrl" />
					<div class="mb-3">
						<label class="mb-2" asp-for="UserName">Uživatelské jméno</label>
						<input asp-for="UserName" class="form-control" />
						<span class="text-warning" asp-validation-for="UserName"></span>

					</div>
					<div class="mb-3">
						<label class="mb-2" asp-for="Password">Heslo</label>
						<input asp-for="Password" type="password" class="form-control" />
						<span class="text-warning" asp-validation-for="Password"></span>

					</div>

					<button class="btn btn-mine-primary mt-4" type="submit">Přihlásit se</button>
				</form>

			</div>
		</div>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
